<em>Добро пожаловать в Мировое Господство, о {{user.name}}!</em><br><br>

Вы можете создать игровую сессию или подключиться к существующей:<br>
/create_session - Создать сессию<br>
/connect_to_session - Подключиться к сессии
