<em>Игра {{session.id}} началась</em><br><br>

О, Великий {{user.name}}, Ваша страна - {{user_country_dict[user.name]}}.<br>
Не подведите своих сограждан. Приведите их к Благополучию, Процветанию и Мировому Господству!
