<em>Раунд {{round.number}} начался!</em><br><br>

Сейчас у Вас есть {{session.round_time}} минут на переговоры.<br>
До завершения раунда Вы должны сформировать приказ и отправить.<br>
В противном случае применится приказ по-умолчанию (пустой).
